/*
    Name: Name
    Version: 1.0
    Author: Hasibur Rahman
    Email: hasibonline2@gmail.com
*/

/*===================== Table Of Content ===========================
>> Variables (scss avilable)
>> Mixins (scss avilable)
1. Imports
2. Global Style
3. Helper Class
4. Blank

/*===============================================================*/

/////////////////////////////////////////////////////
////////////////////// Variables ////////////////////
/////////////////////////////////////////////////////
//Text font
$text-font: 'Raleway',
Arial,
sans-serif;
//Title font
$title-font: 'Poppins',
Arial,
sans-serif;
/////////////// Regular colors ///////////////////
/// Text color
$text-color: #777777;
//Primary color
$primary-color: #02d871;
/// Main brand color
$title-color: #333;
$gray: #ebeef0;
/// Light grey
// Image Loc
$dir: '../css/';
$img: '../../img/';
// Spacing
$sec-pad: 50px 0;
// Radius
$btn-radius: 35px;
//////////////////////////////////////////////////
////////////////////// Mixins ////////////////////
//////////////////////////////////////////////////
/// SCSS Media Quries
@mixin media($screen) {
    @if $screen=="mobi" {
        @media screen and (min-width: 480px) and (max-width: 767px) {
            @content;
        }
    }
    @if $screen=="small" {
        @media screen and (max-width: 767px) {
            @content;
        }
    }
    @if $screen=="medium" {
        @media screen and (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }
    @if $screen=="large" {
        @media screen and (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    }
    @if $screen=="Xlarge" {
        @media screen and (min-width: 1200px) {
            @content;
        }
    }
}

@mixin tabArrow() {
    &:before {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        background: $primary-color;
        bottom: -100px;
        left: 45%;
        transform: rotate(45deg) translateX(-50%);
        opacity: 0;
        visibility: hidden;
    }
    &.active {
        img {
            border-color: #fff;
        }
        &:before {
            opacity: 1;
            visibility: visible;
            transition-delay: .27s;
        }
    }
    @include media('small') {
        &::before {
            width: 40px;
            height: 40px;
            bottom: -70px;
        }
    }
    @include media('medium') {
        &::before {
            width: 40px;
            height: 40px;
            bottom: -70px;
        }
    }
}

/*======================================================
                    Imports
/*====================================================*/

// Fonts 
@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway:300,300i,400,400i,500,500i,600,600i,700');
// External
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url($dir + "external/animate.min.css");
@import url($dir + "external/owl.carousel.min.css");
@import url($dir + "external/aos.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
// SCSS
@import 'partials/hover/hover';
/*======================================================
                    Global Style
/*====================================================*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $text-font;
    font-size: 15px;
    color: $text-color;
    line-height: 26px;
}

a {
    color: $primary-color;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

a:focus {
    box-shadow: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 50px;
    line-height: 65px;
}

h2 {
    font-size: 36px;
    font-family: $title-font;
}

h3 {
    font-size: 26px;
    font-family: $title-font;
}

h4 {
    font-size: 20px;
    font-family: $title-font;
}

h5 {
    font-size: 18px;
    font-family: $title-font;
}

h6 {
    font-size: 16px;
    font-weight: bold;
    font-family: $title-font;
}

button {
    border: 0;
    cursor: pointer;
}

button:focus {
    outline: 0;
    border: 0;
    box-shadow: none !important;
}

input,
textarea {
    border: 1px solid $primary-color;
}

input:focus,
textarea:focus,
    {
    outline: 0;
}

/*======================================================
                    Helper Class
/*====================================================*/

.posMid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.posMidY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.posMidX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.flexMid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexMidY {
    display: flex;
    align-items: center;
}

.flexMidX {
    display: flex;
    justify-content: center;
}

.fit {
    width: 100%;
    height: 100%;
}

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999999;
}

/*======================================================
                    Components
/*====================================================*/

/* ================ Mobile Menu Button ================ */

.m-menu-btn {
    width: 40px;
    height: 40px;
    /*margin-left: 15px;*/
    cursor: pointer;
    padding: 0;
    border: 0;
    position: relative;
}

.m-menu-btn span {
    margin-top: 19px;
    transition: all .3s ease-in;
}

.m-menu-btn span,
.m-menu-btn span:before,
.m-menu-btn span:after {
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #fff;
    ;
    top: 0;
    left: 0;
}

.m-menu-btn span:before,
.m-menu-btn span:after {
    content: '';
    transition: all .3s ease-in;
}

.m-menu-btn span:before {
    top: 9px;
}

.m-menu-btn span:after {
    top: -9px;
}

.m-menu-btn span.active {
    background-color: transparent;
}

.m-menu-btn span.active:before {
    transform: rotate(45deg);
    top: 0;
    background-color: $primary-color;
}

.m-menu-btn span.active:after {
    transform: rotate(135deg);
    top: 0;
    background-color: $primary-color;
}

/*.m-menu-btn*/

// Testimonials Background
.test-bg {
    position: absolute;
    width: 50vw;
    background: url("../../img/ts-bg.jpg") no-repeat center center;
    height: 75%;
    top: 0;
    left: 0;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        background: #fff;
        top: 0;
        right: 0;
        transform: rotate(45deg) translate(0%, -73%);
    }
}

// Hero Buttons
.hero-btn {
    padding: 12px 51px;
    border-radius: $btn-radius;
    background: $primary-color;
    color: #fff;
    display: inline-block;
    &:hover {
        color: #fff;
    }
}

// Hero Dots
.hero-slider {
    .owl-dots {
        position: absolute;
        @extend .posMidY;
        right: 10vw;
        .owl-dot {
            width: 10px;
            height: 10px;
            background: rgba(0, 0, 0, 0.15);
            border-radius: 50%;
            margin-bottom: 10px;
            &:hover {
                background: $primary-color;
            }
            &.active {
                background: #fff;
            }
        }
    }
}

// More Button
.more-btn {
    padding: 12px 51px;
    border: 1px solid $primary-color;
    border-radius: $btn-radius;
    background: transparent;
    color: $primary-color;
    display: inline-block;
    &:hover {
        color: #fff;
        background: $primary-color;
    }
}

/* Section Title */

.sec-title {
    padding-bottom: 30px;
    margin-bottom: 50px;
    position: relative;
    @extend .line-arrow;
}

@include media('small') {
    .sec-title {
        margin-bottom: 30px;
    }
}

// Image Clip
.img-clip {
    position: absolute;
    width: 1px;
    height: 265px;
    background: $primary-color;
    @extend .posMidY;
    right: -33px;
    &::before {
        content: '';
        position: absolute;
        width: 116px;
        height: 1px;
        top: 0;
        right: 0;
        background: $primary-color;
    }
    &::after {
        content: '';
        position: absolute;
        width: 116px;
        height: 1px;
        bottom: 0;
        right: 0;
        background: $primary-color;
    }
}

// Line Arrow
.line-arrow {
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        @extend .posMidX;
        background: $primary-color;
        width: 50px;
        height: 3px;
        box-shadow: 0px 5px 34px 0px $primary-color;
    }
}

// Portfolio Hover Effect
.hvr-curl-bottom-right:hover:before,
.hvr-curl-bottom-right:focus:before,
.hvr-curl-bottom-right:active:before {
    width: 50px;
    height: 50px;
}

.text-hover {
    background: $primary-color;
    color: #fff;
    width: 100%;
    height: 100%;
    @extend .posMid;
    @extend .flexMid;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
    &:before {
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        background: #fff;
        bottom: 0;
        right: 0;
        transform: rotate(45deg) translate(75%, 0%);
    }
    &:hover {
        p {
            transform: translateY(0);
            opacity: 1;
        }
        h3 {
            opacity: 1;
            &::before {
                transform: translateY(0) translateX(-50%);
            }
        }
    } //Hover
    p {
        transform: translateY(-15px);
        transition: .3s ease-in-out;
        opacity: 0;
    }
    h3 {
        position: relative;
        padding-bottom: 30px;
        @extend .line-arrow;
        transition: .3s ease-in-out;
        opacity: 0;
        &::before {
            background: #8febbf;
            transform: translateY(15px) translateX(-50%);
            transition: .3s ease-in-out;
        }
    }
}

/*======================================================
                    Customize
/*====================================================*/

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: 0;
    background: transparent;
}

/*======================================================
                    Header
/*====================================================*/

.cd-header {
    .navbar {
        .nav-item.active .nav-link {
            color: $primary-color;
            font-weight: 600;
        }
        .nav-link {
            color: #fff;
            padding: 15px 22px;
            font-weight: 500;
            &:hover {
                color: $primary-color;
            }
        }
        &.sticky-nav {
            height: 75px;
            transition: .4s ease-in-out;
            background: darken($primary-color, 12%);
            .navbar-brand img {
                width: 90%;
                transition: .2s ease-in-out;
            }
        }
    }
}

/* Responsive Header */

@include media('small') {
    .navbar-brand {
        width: 70%;
        margin-top: 10px;
    }
    .navbar-collapse {
        position: relative;
        &.menu-hide {
            .navbar-nav {}
        }
        .navbar-nav {
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            text-align: center;
            background: $primary-color;
        }
        .nav-item {
            .nav-link {
                color: #fff;
                &:hover {
                    color: darken($primary-color, 10%);
                }
            }
            &:not(:last-child) .nav-link {
                border-bottom: 1px solid $gray;
            }
            &.active .nav-link {
                color: darken($primary-color, 10%) !important;
            }
        }
    }
}

/*======================================================
                    Hero
/*====================================================*/

.cd-hero {
    .slide-item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vh;
        position: relative;
        border-bottom: 1px solid #acadaf;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            top: 0;
            left: 0;
            z-index: 0;
        }
        .slider-text {
            padding-top: 32vh;
            color: #FFF;
            position: relative;
            height: 100%;
            z-index: 3;
            h1 {
                font-size: 4.4vw;
                font-weight: bold;
                position: relative;
                .line-arrow-top {
                    @extend .line-arrow;
                    &:before {
                        top: -25px;
                        left: 28px;
                    }
                }
                span {
                    display: block;
                }
            }
            p {
                font-size: 18px;
                color: #a3a3a3;
                margin: 24px 0 50px;
            }
        }
    }
}

/* Responsive Hero */

@include media('small') {
    .cd-hero {
        .slide-item {
            .slider-text {
                h1 {
                    font-size: 8vw;
                    line-height: 50px;
                }
                p {
                    font-size: 15px;
                    margin: 15px 0 25px;
                }
            }
        }
        .hero-slider .owl-dots {
            right: 5vw;
        }
    }
}

@include media('medium') {
    .cd-hero {
        .slide-item {
            .slider-text {
                h1 {
                    font-size: 7vw;
                }
            }
        }
    }
}

/*======================================================
                    About
/*====================================================*/

.cd-about {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    padding: 134px 0;
    .person-img {
        box-shadow: 0px 12px 60px 0px rgba(0, 0, 0, 0.3);
        position: relative;
    }
    .about-text {
        h2 {
            color: #333333;
            margin-bottom: 25px;
            font-weight: bold;
            span {
                display: block;
            }
        }
        .list-group {
            margin-bottom: 15px;
            a {
                color: $primary-color;
                padding: 10px 20px;
                display: inline-block;
                font-weight: bold;
                &.active {
                    font-size: 120%;
                    transition: all .2s ease-in-out;
                }
                &:first-child {
                    padding-left: 0;
                }
            }
        }
        .hero-btn {
            box-shadow: 0px 7px 60px 0px rgba(0, 0, 0, 0.25);
            margin-top: 25px;
        }
    }
}

/* Responsive About us */

@include media('small') {
    .cd-about {
        padding: 60px 0;
        .person-img {}
        .img-clip {
            height: 70%;
            right: -14px;
            &::before {
                width: 70px;
            }
            &::after {
                width: 70px;
            }
        }
        .about-text {
            margin-top: 30px;
        }
    }
}

@include media('medium') {
    .cd-about {
        padding: 60px 0;
        .img-clip {
            height: 70%;
            right: -14px;
            &::before {
                width: 70px;
            }
            &::after {
                width: 70px;
            }
        }
        .about-text {
            h2 {
                margin-bottom: 10px;
                font-size: 30px;
            }
        }
    }
}

/*======================================================
                    Services
/*====================================================*/

.cd-services {
    padding: 100px 0;
    .col-block {
        padding: 50px;
        &.active {
            color: #fff;
            background: $primary-color;
            border-radius: 10px;
            box-shadow: 0px 7px 60px 0px rgba(0, 0, 0, 0.25);
            h3::before {
                background: #fff;
            }
        }
        h3 {
            margin-bottom: 30px;
            padding-bottom: 15px;
            margin-top: 10px;
            position: relative;
            @extend .line-arrow;
        }
    }
}

/* Responsive Services */

@include media('small') {
    .cd-services {
        padding: 0px 0;
    }
}

@include media('medium') {
    .cd-services {
        .col-block {
            padding: 25px 15px;
        }
    }
}

/*======================================================
                    Our Work
/*====================================================*/

.our-work {
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: center right;
    .item {
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        &:hover {
            .item-text {
                visibility: visible;
                opacity: 1;
            }
        }
    } // Item Text
    .item-text {
        @extend .text-hover;
    }
    .more-btn {
        margin-top: 25px;
    }
}

/* Responsive Our Work */

@include media('small') {
    .our-work {
        padding: 0;
    }
}

/*======================================================
                    Testimonials
/*====================================================*/

.cd-testimonials {
    padding: 50px 0;
    margin: 50px 0 0;
    position: relative;
    .sec-title {
        &::before {
            left: 0;
            transform: translateX(0);
        }
    }
    .nav-tabs {
        border-bottom: 0;
        .nav-link {
            position: relative;
            @include tabArrow();
            img {
                border-radius: 50%;
                overflow: hidden;
                border: 3px solid transparent;
            }
            &:hover {
                border-bottom: 0;
            }
        }
    }
    .tab-content {
        // Tab Content
        margin-top: 50px;
        .card {
            border: 0;
            border-radius: 0;
            background: $primary-color;
            color: #fff;
            width: 95%;
            font-family: $title-font;
            .card-body {
                padding: 40px;
                P {
                    font-size: 17px;
                    line-height: 32px;
                }
                .blockquote-footer {
                    font-weight: bold;
                    color: #fff;
                    margin-top: 1em;
                }
            }
            .quote-img {
                margin-bottom: 25px;
            }
        }
    }
    /* Brand Logos */
    .brand-logos {
        .brand-logo {
            position: relative;
            padding-top: 30px;
            padding-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            /* Before */
            &:not(:nth-child(3n))::before {
                content: '';
                position: absolute;
                width: 1px;
                height: 60%;
                background: $gray;
                right: 0;
                @extend .posMidY;
            }
            /* After */
            &:not(:nth-last-child(-n+3))::after {
                content: '';
                position: absolute;
                width: 75%;
                height: 1px;
                background: $gray;
                bottom: 0;
                @extend .posMidX;
            }
        }
    }
}

/* Responsive Testimonials */

@include media('small') {
    .cd-testimonials {
        .test-bg {
            width: 100vw;
            top: 0;
            height: 42%;
            &::before {
                display: none;
            }
        }
        .nav.nav-tabs {
            display: flex;
            flex-wrap: nowrap;
            .nav-link {
                padding: 5px;
            }
        }
        .tab-content {
            margin-top: 30px;
            margin-bottom: 50px;
            .card {
                width: 100%;
                .card-body {
                    padding: 10px;
                }
            }
        }
    }
}

@include media('medium') {
    .cd-testimonials {
        .test-bg {
            width: 49vw;
            top: 0;
            height: 65%;
            &::before {
                display: none;
            }
        }
        .nav.nav-tabs {
            display: flex;
            flex-wrap: nowrap;
            .nav-link {
                padding: 5px;
            }
        }
        .tab-content {
            margin-top: 30px;
            margin-bottom: 50px;
            .card {
                width: 100%;
                .card-body {
                    padding: 10px;
                }
            }
        }
    }
}

/*======================================================
                    Our Blogs
/*====================================================*/

.cd-blogs {
    padding: 100px 0;
    .sec-title {
        &::before {
            left: 0;
            transform: translateX(0);
        }
    }
    .blog-overview {
        p {
            line-height: 32px;
        }
    }
    /*Card Deck*/
    .card-deck {
        .card {
            border: 0;
            box-shadow: 0px 6px 90px -3px #ddd;
            .card-title {
                font-size: 18px;
                color: #222;
            }
            .card-img-top {
                width: 100%;
                border-top-left-radius: calc(1rem - 1px);
                border-top-right-radius: calc(1rem - 1px);
            }
            .card-body {
                padding: 1.8rem;
            }
            .view-btn {
                color: #222;
                font-size: 17px;
                font-weight: 500;
                &.hvr-icon-forward:before {
                    content: "\f105";
                    font-family: FontAwesome;
                    right: 0em;
                }
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

/* Responsive Our Blog */

@include media('small') {
    .cd-blogs {
        padding: 0;
        .sec-title {
            margin-bottom: 30px;
        }
        .update-news h2 {
            font-size: 10vw;
        }
    }
}

/*======================================================
                    Update News
/*====================================================*/

.update-news {
    padding: 100px 0;
    background: $primary-color url("../../img/newsbg.jpg");
    color: #fff;
    text-align: center;
    h2 {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 25pxx;
        font-weight: bold;
        font-family: $text-font;
    }
    .hero-btn {
        color: $primary-color;
        background: #fff;
        box-shadow: 0px 5px 40px 0px #33333373;
        margin-top: 25px;
        font-weight: 500;
        &:hover {
            color: $primary-color;
            font-weight: 600;
        }
    }
    .container {
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background: $gray;
            bottom: 0;
            left: 0;
        }
    }
}

/*======================================================
                    Break Line
/*====================================================*/

.break-line {
    padding: 70px 0 10px;
    .line {
        width: 100%;
        height: 1px;
        background: #e0e0e0;
        display: block;
    }
}

/* Responsive Breakline */

@include media('small') {
    .break-line {
        padding: 50px 0 0px;
    }
}

/*======================================================
                    Footer
/*====================================================*/

.cd-footer {
    text-align: center;
    padding: 0 0 90px;
    margin-top: 30px;
    background: #fff url($img + 'f-map.png') no-repeat bottom center;
    .breadcrumb {
        background: transparent;
        a {
            color: $text-color;
            padding: 5px 15px;
            cursor: pointer;
            &:hover {
                color: $primary-color;
            }
        }
    }
    .icon-group {
        padding: 20px 0 30px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 150px;
            height: 1px;
            background: $gray;
            bottom: 0;
            @extend .posMidX;
        }
        a {
            color: $text-color;
            text-align: center;
            line-height: 35px;
            width: 35px;
            background: $gray;
            display: inline-block;
            border-radius: 50%;
            margin-right: 15px;
            &:hover {
                color: $primary-color;
                transform: scale(1.2);
            }
        }
    }
}

/* Responsive Footer */

@include media('small') {
    .cd-footer {
        .breadcrumb {
            padding: 0;
            flex-direction: column;
            .breadcrumb-item+.breadcrumb-item::before {
                display: none;
            }
        }
    }
}

/*======================================================
                    Blank
/*====================================================*/